.titulo_galeria{
    font-size: 2em;
    margin: none !important;
}

.page-header {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #618CA7;
    color: #fff;
    border: none;
}

.galeria {
    background-color: #fff;
    padding-left: 5em;
}