.page-injector-content {
    height:100%;
}

.fundo {
    background-color: #c3d4eb;
    height: 100%;
}

.index {
    height: 100%;
}

.banner-instrucao {
    width: 30em; 
    height: auto;
    margin-top: -1em;
}