<style>
    .ativo {
        background: #618CA7 !important;
    }
</style>
<div id="arena" style="position:relative">

    <div class="placar">
        <h1><strong>Total de Cartas</strong>
            <h1>
                <h2>Suas: {{ hand.length }}
                    <h2>
                        <h2>Adversário: {{ deck.length }}</h2>
    </div>

    <div id="visual">
        <div class="battlefield-box">
            <div id="battlefield">
                <div class="bat-frame">

                    <div class="card" ng-show="cartaSelecionadaUsuario">
                        <div class="card-bar-box">
                            <div class="card-info-nome">
                                {{cartaSelecionadaUsuario.nome}}
                            </div>
                            <div class="card-info-partido">
                                <img ng-src="{{cartaSelecionadaUsuario['url-img-partido']}}" />
                            </div>
                        </div>
                        <img class="card-info-img" ng-src="{{cartaSelecionadaUsuario['url-img']}}">

                        <div class="card-attr-box">
                            <div class="card-attr-presenca" ng-class="{'ativo': getAtributoAtivo('presenca')}">
                                <label>Presença</label><span>{{cartaSelecionadaUsuario.presenca}} %</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('privilegio')}">
                                <label>Privilégios</label><span>{{cartaSelecionadaUsuario.privilegio | currency:'R$ '}}</span>
                            </div>
                            <div class="card-attr-processos" ng-class="{'ativo': getAtributoAtivo('processo')}">
                                <label>Processos</label><span>{{cartaSelecionadaUsuario.processo}}</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('votos')}">
                                <label>Votos</label><span>{{cartaSelecionadaUsuario.votos}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="bat-vs">VS</div>
                <div class="bat-frame">

                    <div class="card" ng-show="cartaInimigo">
                        <div class="card-bar-box">
                            <div class="card-info-nome">
                                {{cartaInimigo.nome}}
                            </div>
                            <div class="card-info-partido">
                                <img ng-src="{{cartaInimigo['url-img-partido']}}" />
                            </div>
                        </div>
                        <img class="card-info-img" ng-src="{{cartaInimigo['url-img']}}">

                        <div class="card-attr-box">
                            <div class="card-attr-presenca" ng-class="{'ativo': getAtributoAtivo('presenca')}">
                                <label>Presença</label><span>{{cartaInimigo.presenca}} %</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('privilegio')}">
                                <label>Privilégios</label><span>{{cartaInimigo.privilegio | currency:'R$ '}}</span>
                            </div>
                            <div class="card-attr-processos" ng-class="{'ativo': getAtributoAtivo('processo')}">
                                <label>Processos</label><span>{{cartaInimigo.processo}}</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('votos')}">
                                <label>Votos</label><span>{{cartaInimigo.votos}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="deck">
            <div class="card-turned"></div>
        </div>

        <div class="opponent">
            <div class="card-turned"></div>
            <div class="card-turned"></div>
            <div class="card-turned"></div>
        </div>

    </div>

    <div id="hand">

        <div class="card" ng-repeat="politico in hand | limitTo:3">
            <div class="card-bar-box">
                <div class="card-info-nome">
                    {{politico.nome}}
                </div>
                <div class="card-info-partido">
                    <img ng-src="{{politico['url-img-partido']}}" />
                </div>
            </div>
            <img class="card-info-img" ng-src="{{politico['url-img']}}">

            <div class="card-attr-box">
                <div class="card-attr-presenca" ng-style="atributoAtivo != '' && !getAtributoAtivo('presenca') && {'background-color': '#fff', 'color': '#000'}" ng-class="{'ativo': getAtributoAtivo('presenca')}"
                    ng-click="batalhar(politico, 'presenca')">
                    <label>Presença</label><span>{{politico.presenca}} %</span>
                </div>
                <div class="card-attr-privilegio" ng-style="atributoAtivo != '' && !getAtributoAtivo('privilegio') && {'background-color': '#fff', 'color': '#000'}" ng-class="{'ativo': getAtributoAtivo('privilegio')}"
                    ng-click="batalhar(politico, 'privilegio')">
                    <label>Privilégios</label><span>{{politico.privilegio | currency:'R$ '}}</span>
                </div>
                <div class="card-attr-processos" 
                 ng-style="atributoAtivo != '' && !getAtributoAtivo('processo') && {'background-color': '#fff', 'color': '#000'}"
                     ng-class="{'ativo': getAtributoAtivo('processo')}"
                 ng-click="batalhar(politico, 'processo')">
                    <label>Processos</label><span>{{politico.processo}}</span>
                </div>
                <div class="card-attr-privilegio" 
                ng-style="atributoAtivo != '' && !getAtributoAtivo('votos') && {'background-color': '#fff', 'color': '#000'}"
                     ng-class="{'ativo': getAtributoAtivo('votos')}"
                 ng-click="batalhar(politico, 'votos')">
                    <label>Votos</label><span>{{politico.votos}}</span>
                </div>
            </div>
        </div>

    </div>





</div>