<div class="text-center fundo">
    <div class="menu-container">
        <div class="page-content row"> <img src="../img/home_logo.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
            <h1 class="titulo">Nósquipe</h1>
            <div class="container">
                <div class="row">
                    <table class="table">

                        <tbody>

                            <tr>
                                <td style="font-size:3em;font-weight:bold;" ng-repeat="menbro in equipe">{{ menbro.nome }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>