<div class="text-center fundo" style="height: 180%">
    <div class="page-content row">
        <img src="../img/banner-instruction.png" class="img-rounded banner-instrucao" alt="Cinque Terre">
    </div>
    <h1 class="titulo" style="color: #555">politicard.</h1>
    <h3 style="color: #888">policard é um jogo de cartas, com partidas realizadas<br> excluisivamente  entre dois jogadores.</h3>
    <br>
    <div class="text-instrucoes" style="text-align: justify; margin-left: 2em">
        <div class="col-md-4">
            <h2 style="font-weight: bold">Como funciona a partida ?</h2>
            <p>As cartas são embaralhadas e distribuídas para os jogadores O jogador que inicia a partida, seleciona uma carta e categoria. Depois o jogador adversário escolhe sua carta. Ambas cartas são reveladas. A carta do jogador que possuir o maior número na categoria que o primeiro jogador escolheu, vence a rodada e passa ter a vez de jogar. As jogadas vão acontecendo sequenciamente, até que as cartas dos jogadores acabem.
            </p>
        </div>
        <div class="col-md-4">
            <h2 style="font-weight: bold">Categorias disponíveis:</h2>

            <p><strong>Presença:</strong> % de presenças do político em sessões;
                <br>
                <strong>Privilégios:</strong> Total de benéficios que o político já recebeu;
                <br>
                <strong>Processos:</strong> Quant. de processos que o político já recebeu;
                <br>
                <strong>Votos:</strong> Quant. de votos que o político se elegeu.</p>
        </div>
        <div class="col-md-4">
            <h2 style="font-weight: bold">De onde são os dados ?</h2>
            <p>Os dados são objetivos através do portal de transparência:
                <br/>
                <a href="http://www2.camara.leg.br/transparencia/">http://www2.camara.leg.br/transparencia/</a>
                <br/>
                <a href="http://www12.senado.leg.br/transparencia/">http://www12.senado.leg.br/transparencia/</a>
                <br/>
            </p>
        </div>
    </div>
</div>