<div class="text-center fundo">
    <div class="page-content row"> <img src="../img/home_logo.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <h1 class="titulo">politicard.</h1>
        <div class="container">
            <div class="row">
                <button type="button" class="botao texto-botao">JOGAR</button>
            </div>
            <div class="row">
                <button type="button" class="botao texto-botao">INSTRUÇÕES</button>
            </div>
            <div class="row">
                <button type="button" class="botao texto-botao">CRÉDITOS</button>
            </div>
        </div>
    </div>
</div>