<div class="text-center fundo">
    <div class="menu-container">
        <div class="page-content row"> <img src="../img/home_logo.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
            <h1 class="titulo">{{resultado}}</h1>
            <div class="container">
                <div class="row">
                    <button type="button" class="botao texto-botao" ui-sref="arena">JOGAR</button>
                </div>
                <div class="row">
                    <button type="button" class="botao texto-botao" ui-sref="menu">MENU</button>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>