
<div class="container text-center" style="text-align: center">
    <style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 1em;
        height: 1em;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 8s linear infinite;
        margin-left: 48% !important;
    }

    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    </style>
    <br><br><br><br><br><br><br><br><br>
    <div class="splash-logo">
        <img src="../img/splash.png" style="text-align: center; padding-top: 3em" />
    </div>
    <div class="loader"></div>
</div>
